<html>
    <body>
        <p>Hello,</p>
        <p>{form.vehicle_number.data} is expiring tomorrow. Here are the details of the customer:</p>
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th>Owner Name</th>
                <th>Registered Name</th>
            </tr>
            <tr>
                <td>{form.current_owner.data}</td>
                <td>{form.register_owner.data}</td>
            </tr>
        </table>
        <p>Best regards,<br>Your Company</p>
    </body>
</html>